/* Getting the new tags to behave */
article,aside,audio,canvas,command,datalist,details,embed,figcaption,figure,footer,header,hgroup,keygen,meter,nav,output,progress,section,source,video
	{
	display: block;
}

mark,rp,rt,ruby,summary,time {
	display: inline
}

/* Global properties ======================================================== */
body {
	background: url(../images/body-bg.gif) 0 0 repeat-x #fff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 17px;
	color: #939393;
	min-width: 1000px;
}

html,body {
	height: 100%;
}

p {
	padding-top: 17px;
}

.top {
	padding-top: 4px;
}

.top1 {
	padding-top: 11px;
}

.top2 {
	padding-top: 26px !important;
}

.top3 {
	padding-top: 7px;
}

.top4 {
	padding-top: 0px;
}

.top5 {
	padding-top: 0px;
}

.bot {
	padding-bottom: 12px;
}

.bottom {
	padding-bottom: 39px;
}

.img-bot {
	padding-bottom: 8px;
}

.img-pad {
	margin-top: -55px;
}

.img-padding {
	padding: 4px 0 0 2px;
}

.h-pad {
	padding: 37px 0 18px;
}

.h-bot {
	padding-bottom: 18px;
}

.h-top {
	padding-top: 38px;
}

.h-top1 {
	padding-top: 34px;
}

a {
	color: #d52d00;
	outline: none;
}

a:hover {
	text-decoration: none;
}

/* Global Structure ============================================================= */
.main {
	margin: 0 auto;
	width: 952px;
}

/* Header */
header {
	height: 398px;
}

/* Content */
section#content {
	padding-bottom: 39px;
}
/* Footer */
footer {
	height: 108px;
	background: #f5f5f5;
}
/* Left & Right alignment */
.fleft {
	float: left;
}

.fright {
	float: right;
}

.clear {
	clear: both;
}

.col-1,.col-2,.col-3,.col-4,.col-5 {
	float: left;
}

.alignright {
	text-align: right;
}

.aligncenter {
	text-align: center;
}

.wrapper {
	width: 100%;
	overflow: hidden;
}

.container {
	width: 100%;
}
/*----- form defaults -----*/
input,select,textarea {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
	vertical-align: middle;
	font-weight: normal;
}

/*----- other -----*/
.img-indent {
	margin: 0 28px 0 0;
	float: left;
}

.extra-wrap {
	overflow: hidden;
}

.phone {
	display: inline-block;
	width: 74px;
}

/*=============================================================================== text =====*/
h1 {
	padding: 0;
	position: relative;
	float: left;
	background: #15c1e5;
	display: block;
	height: 167px;
	width: 282px;
}

h1 a {
	text-indent: -5000px;
	display: block;
	/*background: url(../images/logo.jpg) 0 0 no-repeat;*/
	/*background: url(../images/vips/vipsbw125_98.jpg) 0 0 no-repeat;*/
	background: url(../images/vips/vipslogoweb_218_100.jpg) 0 0 no-repeat;
	width: 218px;
	height: 100px;
	margin: 34px 0 0 32px;
}

h2 {
	font-size: 31px;
	line-height: 1.2em;
	color: #1f9fba;
	padding: 25px 0px 3px 0px;
	margin: 0px 0px 0px 0px;
	letter-spacing: -1px;
	text-transform: uppercase;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

h5 {
	font-size: 31px;
	line-height: 1.2307em;
	font-weight: bold;
	text-transform: uppercase;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	word-spacing: -3px;
	letter-spacing: -1px;
	padding: 25px 0 15px 0;
}

h5 span {
	display: block;
	font-size: 40px;
	line-height: 1.2307em;
	letter-spacing: -1px;
	margin-top: -10px;
}

.text {
	line-height: 19px;
	text-transform: uppercase;
	font-size: 13px;
}

.color {
	color: #ffa200;
}
/*=================================================================================================================== header =====*/
/*=============================================================================== nav =====*/
header nav {
	float: right;
	width: 642px;
}

header nav li {
	float: left;
	font-size: 15px;
	line-height: 1.2307em;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

header nav li a {
	display: block;
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	background: #9bba1f;
	font-weight: bold;
}

header nav li a:hover {
	padding-bottom: 36px;
	cue-before: url(../sounds/sound4.mp3);
	cue-after: url(../sounds/sound4.mp3);
}

header nav .n1 a {
	background: #9bba1f;
	padding: 32px 9px 27px 10px;
}

header nav .n2 a {
	background: #ffa200;
	padding: 32px 7px 27px 8px;
}

header nav .n3 a {
	background: #ca3535;
	padding: 32px 7px 27px 8px;
}

header nav .n4 a {
	background: #15c1e5;
	padding: 32px 9px 27px 10px;
}

header nav .n5 a {
	background: #9bba1f;
	padding: 32px 10px 27px 9px;
}

header nav .n6 a {
	background: #ffa200;
	padding: 32px 8px 27px 8px;
}

header nav .n1 .active,header nav .n2 .active,header nav .n3 .active,header nav .n4 .active,header nav .n5 .active,header nav .n6 .active
	{
	padding-bottom: 36px;
}
/*=================================================================================================================== content =====*/

/*=============================================================================== indents =====*/
.main-indent {
	padding: 0 0 7px 34px;
}

.indent {
	padding: 0px 0px 0px 33px
}

.indent1 {
	padding: 0px 0px 0px 0px
}
/*=============================================================================== col-indents =====*/
.col-indent {
	padding-right: 17px;
}

.col-indent1 {
	padding-right: 52px;
}

.col-indent2 {
	padding-right: 30px;
}
/*=============================================================================== boxes =====*/
.box {
	background: #9bba1f;
	color: white;
	padding: 0 0px 0px 31px;
	position: relative;
}

.bg2 {
	background: #ffa200;
}

.bg3 {
	background: #ca3535;
}

.box .indent {
	padding: 0 34px 36px 2px;
}

.box .indent1 {
	padding: 5px 31px 36px 2px;
}

.box .indent1-1 {
	padding: 0px 31px 36px 2px;
}

.box .indent2 {
	padding: 2px 31px 36px 2px;
}

.bg1 .link {
	color: #92ad26;
	background: #fff;
}

.bg2 .link {
	color: #ffa200;
	background: #fff;
}

.bg3 .link {
	color: #ca3535;
	background: #fff;
}
/*=============================================================================== line-hor =====*/

/*=============================================================================== lists =====*/
.list {
	padding: 0px 0 0;
	background: url(../images/list-border.gif) 0 0 repeat-x;
	min-height: 0px;
	margin-bottom: -1px;
	position: relative;
}

.list li {
	font-size: 13px;
	line-height: 18px;
	background: url(../images/list-border.gif) 0 bottom repeat-x;
	padding: 8px 0 6px;
}

.list li a {
	color: #fff;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	background: url(../images/list-a-bg.png) 1px 1px no-repeat;
	padding: 7px 0 9px 35px;
	display: inline-block;
}

.list li a:hover {
	color: #000;
}

.list .long a {
	padding-bottom: 1px;
}

.list .last {
	background: none;
}

.bg3 .list li a {
	background: url(../images/bg-2-list-a-bg.gif) 1px 1px no-repeat;
}
/*=============================================================================== links =====*/
.link {
	font-size: 18px;
	line-height: 1.2307em;
	color: #fff;
	background: #15c1e5;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	margin: 16px 0 0px 0;
	display: inline-block;
	padding: 4px 7px 5px 10px;
	text-decoration: none;
	word-spacing: -2px;
	font-weight: bold;
	text-transform: uppercase;
}

.link:hover {
	color: #474b53;
}

.link_1 {
	text-transform: uppercase;
	color: #ffa200;
	font-size: 13px;
	text-decoration: none;
}

.link_1:hover {
	text-decoration: underline;
}
/*=============================================================================== nav =====*/

/*=============================================================================== nav =====*/

/*=============================================================================== nav =====*/

/*=================================================================================================================== footer =====*/
footer {
	font-size: 13px;
	line-height: 18px;
}
/*=============================================================================== nav =====*/
footer nav {
	padding: 31px 0 0 0;
}

footer nav li {
	float: left;
	padding-right: 23px
}

footer nav li a {
	display: block;
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	color: #aeaeac;
}

footer nav li a:hover {
	text-decoration: underline;
}

footer p {
	width: 100%;
	overflow: hidden;
	padding: 12px 0 0;
	text-transform: uppercase;
	color: #aeaeac;
}

footer p a {
	color: #42cce8;
	text-decoration: none;
	padding-left: 11px;
}

footer p a:hover {
	text-decoration: underline;
}
/*------------------------------------------------------------------------------------------------------------------- forms -----*/
#ContactForm {
	padding-top: 16px;
	width: 584px;
}

#ContactForm label {
	height: 64px;
	display: block;
}

#ContactForm .link {
	margin: 12px 0px 0px 17px;
}

#ContactForm .column1 {
	float: left;
	width: 293px;
}

#ContactForm .column2 {
	float: left;
	width: 291px;
}

#ContactForm .input {
	width: 261px;
	border: 1px solid #aeaeac;
	background: none;
	padding: 7px 5px 7px 5px;
	font-size: 12px;
	line-height: 14px;
	color: #a4a4a4;
}

#ContactForm textarea {
	width: 279px;
	height: 142px;
	border: 1px solid #aeaeac;
	background: none;
	padding: 7px 5px 7px 5px;
	overflow: auto;
	font-size: 1em;
	color: #a4a4a4;
}

/*==========================================*/

/* Project specifics =========================================================== */
/* Pour some CSS below ========================================================= */